<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 column-in-center">
    <h1>Top 10 Shortener clicked</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 column-in-center">
    <div class="col-md-2 pull-right">
      <%= link_to 'New Shorten', new_shorten_path, class: "btn btn-success" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Short url</th>
          <th>Real url</th>
          <th>Count</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @shortens.each_with_index do |shorten, index| %>
          <tr <%= index %2 == 1 ? "class=success" : "class=danger" %> >
            <td><%= link_to "#{request.base_url}/s/#{shorten.short_url}", "#{request.base_url}/s/#{shorten.short_url}", class: "btn btn-info", target: :_blank %></td>
            <td><%= shorten.real_url %></td>
            <td><%= shorten.count %></td>
            <td><%= link_to 'Show', shorten, class: "btn btn-success" %></td>
            <td><%= link_to 'Edit', edit_shorten_path(shorten), class: "btn btn-warning" %></td>
            <td><%= link_to 'Destroy', shorten, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_url btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

